{% extends "management/layout_management.html" %}

{% block content %}
<div class="container-fluid" id="listaEventos">
    <h2 class="mb-4">Lista de <strong>Eventos</strong></h2>
    <a href="{% url 'eventos_admin:crear_evento' %}" class="btn btn-success mb-3">Nuevo Evento</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha y hora</th>
                <th>Ubicacion</th>
                <th>Cupos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr class="{% if evento.fecha <= hoy %}resaltado-rojo{% endif %}"> <!-- Resaltado si la fecha es menor a hoy -->
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.fecha }} - {{ evento.hora }} hs </td>
                <td>{{ evento.ubicacion }}</td> 
                <td>{% if evento.cupos == 0 %}Completo{% else %}{{ evento.cupos}}{% endif %}</td>
                <td>{% if evento.estado == False %}Finalizado{% else %}Activo{% endif %}</td>
                <td>
                    {% if evento.cupos > 0 %}
                    <a href="{% url 'eventos_admin:inscribir_cliente' evento.pk %}" class="btn btn-outline-success btn-sm"><strong>+</strong> cliente</a>
                    {% else %}
                    <button class="btn btn-outline-secondary btn-sm" disabled>+ cliente</button>
                    {% endif %}
                    <a href="{% url 'eventos_admin:detalle_eventos' evento.pk %}" class="btn btn-outline-info btn-sm ">Ver detalle</a>
                    <a href="{% url 'eventos_admin:editar_evento' evento.pk %}" class="btn btn-outline-primary btn-sm ">Editar</a>
                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDesactivar{{ evento.id }}">X</button>
                </td>
            </tr>

            <!-- Modal de deactivar por evento -->
            <div class="modal fade" id="modalDesactivar{{ evento.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="post" action="{% url 'eventos_admin:desactivar_evento' evento.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar baja</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro que querés dar de baja el evento <strong>{{ evento.titulo }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Sí, dar de baja</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% empty %}
            <tr><td colspan="6">No hay eventos cargados.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Eventos No activos -->
    <hr>
    <h4 class="mt-5">Eventos finalizados</h4>

    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha y hora</th>
                <th>Ubicacion</th>
                <th>Cupos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in papelera %}
            <tr>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.fecha }} - {{ evento.hora }} hs </td>
                <td>{{ evento.ubicacion }}</td> 
                <td>{{ evento.cupos}}</td>
                <td>{% if evento.estado == False %}Finalizado{% else %}Activo{% endif %}</td>
                <td>
                    <!-- Botón Reactivar -->
                    <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalReactivar{{ evento.id }}">Reactivar</button>
                    
                    <!-- Botón Eliminar Permanente -->
                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminarPermanente{{ evento.id }}">X</button>
                </td>
            </tr>

            <!-- Modal Reactivar -->
            <div class="modal fade" id="modalReactivar{{ evento.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="post" action="{% url 'eventos_admin:reactivar_evento' evento.id %}" onsubmit="return validarFecha(this, 'fecha_alta{{ evento.id }}')">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Reactivar Evento</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                ¿Querés reactivar el evento <strong>{{ evento.titulo }}</strong>?
                                <div class="mt-3">
                                    <label for="fecha_alta{{ evento.id }}" class="form-label">Nueva fecha</label>
                                    <input type="date" name="fecha_alta" id="fecha_alta{{ evento.id }}" class="form-control" required>
                                </div>
                                <div class="mt-3">
                                    <label for="hora_alta{{ evento.id }}" class="form-label">Nueva hora</label>
                                    <input type="time" name="hora_alta" id="hora_alta{{ evento.id }}" class="form-control" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Sí, reactivar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal Eliminar Permanente -->
            <div class="modal fade" id="modalEliminarPermanente{{ evento.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Definitivamente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar a <strong>{{ evento.titulo }}</strong> permanentemente?<br>
                            <small class="text-danger">Esta acción no se puede revertir.</small>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'eventos_admin:eliminar_evento' evento.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr><td colspan="6">No hay eventos inactivos.</td></tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}